body {
  overflow: hidden;
}

* {
  font-family: 'Nunito', sans-serif;
}

.cursorContainer {
  width: 100vw;
  height: 100vh;
  cursor: url(img/hammer.png), crosshair;
}

#mole:hover {
  cursor: grab;
}

#mole:active {
  cursor: grabbing;
}

#scoreDiv {
  text-align: center;
  width: 150px;
  height: 75px;
  font-size: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #87653f;
  border-radius: 20px;
}
