body {
  overflow: hidden;
}

* {
  font-family: 'Nunito', sans-serif;
}

/* NAME FORM */

.formContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(128, 128, 128, 0.2);
}

#nameForm {
  height: 400px;
  background-color: #c1f2a9;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
}

#yourName {
  width: 80%;
  background-color: #c2c3c4;
  padding: 10px 0;
  text-align: center;
  border-radius: 10px;
  border: none;
  font-size: 24px;
}

#submitName {
  padding: 5px 15px;
  background-color: #5cb85c;
  border-radius: 10px;
  border: none;
  font-size: 30px;
  margin-top: 30px;
}

@media only screen and (min-width: 768px) {
  #nameForm {
    width: 40%;
  }
}

@media only screen and (max-width: 767px) and (min-width: 480px) {
  #nameForm {
    width: 50%;
  }
}

@media only screen and (max-width: 479px) {
  #nameForm {
    width: 75%;
  }
}

#mole:hover {
  cursor: grab;
}

#mole:active {
  cursor: grabbing;
}

#nav {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin: 10px auto;
  background-color: #c2c3c4;
}

.current {
  text-decoration: underline;
}

#stop {}
